/stock/
sho/wk_sho_.py
soccer/wk_soccer.py
sho/sho-work.txt
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/github-io/v16/.suo
.vscode/settings.json
assets/data/wk_baseball.ipynb
assets/data/wk_baseball.ipynb
assets/data/wk_baseball.ipynb
assets/data/gcs/baseball_ddl.sql
assets/data/gcs/note.md
assets/img/giants-pride.jpg
