/stock/
sho/wk_sho_.py
sho/wk_sho_test.py
sho/sho-work.txt
soccer/wk_soccer.py
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/github-io/v16/.suo
.vscode/settings.json
assets/data/wk_baseball.ipynb
assets/data/wk_baseball.ipynb
assets/data/wk_baseball.ipynb
assets/data/gcs/baseball_ddl.sql
assets/data/gcs/note.md
assets/img/giants-pride.jpg
wk_all_entry_team__.py
message.txt
